<div class="col-xs-12 col-sm-12 col-md-12 footer container">
    <div class="row" style="margin: 5px;">
        <div class="col-xs-10 col-sm-10 col-md-10">
            © 2020, HADI&AFREEN. All Rights Reserved. Release: 1.0.0.0 (demo-0001)
        <br>
         <label class="date"> DATE:  {{currentDate}} </label>  
        </div>
        <!-- <div class="col-xs-7 col-sm-7 col-md-7">
        </div> -->
        <div class="col-xs-2 col-sm-2 col-md-2">
           <img style="width: 65px; height: 65px;"src="./../../assets/images/1200px-NEDUET_logo.svg.png">
        </div>

    </div>
    
    
</div>
